<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.generator.dao.EmployeeMapper">
  <resultMap id="BaseResultMap" type="org.generator.pojo.Employee">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="last_name" jdbcType="VARCHAR" property="lastName" />
    <result column="gender" jdbcType="CHAR" property="gender" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="emp_state" jdbcType="VARCHAR" property="empState" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="logic_flag" jdbcType="INTEGER" property="logicFlag" />
  </resultMap>
</mapper>